{% extends "base.html" %}

{% block title %}Articles{% endblock title %}

{% block content %}
  {% for article in article_list %}
    <div class="card mb-3">
      <div class="card-header">
        <span class="fw-bold">
          <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </span>
        &middot;
        <span class="text-muted">
          by {{ article.author }} | {{ article.date }}
        </span>
      </div>

      <div class="card-body">
        <!-- Show article image if it exists -->
        {% if article.image %}
          <div class="mb-3 text-center">
            <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-fluid" style="max-height:300px; object-fit:cover;">
          </div>
        {% endif %}
        
        {{ article.body }}
      </div>

      <div class="card-footer text-center text-muted">
        {% if article.author.pk == request.user.pk %}
          <a href="{% url 'article_edit' article.pk %}">Edit</a> |
          <a href="{% url 'article_delete' article.pk %}">Delete</a>
        {% endif %}
        <a href="{{ article.get_absolute_url }}">New Comment</a>
      </div>
    <div class="card-footer">
    {% for comment in article.comment_set.all %}
        <p>
            <span class="fw-bold">{{ comment.author }} &middot;</span>
            {{ comment.comment }}
        </p>
    {% endfor %}
</div>
    </div>
  {% endfor %}
{% endblock content %}
